.App > nav {
  font-size: 24px;
  font-weight: 400;
  color: #e4e4e4;
  position: fixed;
  top: 0;
  left: 0;
}

.App > nav > a {
  display: inline-block;
  padding: 6px 16px;
}
.App > nav > a:hover {
  color: #ffffff;
}

.App .background {
  background: black url("https://raw.githubusercontent.com/skycompendium/gallery/main/textures/2k_stars_milky_way.jpg") no-repeat fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App menu {
  color: #e4e4e4;
  position: fixed;
  list-style-type: none;
  padding: 6px;
  right: 0;
  display: flex;
}
@media screen and (max-width: 480px) {
.App menu {
  flex-direction: column;
}
}
@media screen and (min-width: 481px) {
.App menu {
  flex-direction: row;
}
}

.App menu > li > label {
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 6px 16px;
  display: inline-block;
}
.App menu > li > label:hover {
  color: #ffffff;
}

.App menu > li > input {
  display: none;
}

.App menu > li > input:checked + label {
  background: rgba(255, 255, 255, 0.16);
  border-color: #e4e4e4;
}

.App canvas {
  pointer: move;
}

.App .Button {
  font-weight: 400;
  color: #e4e4e4;
  border: solid #e4e4e4;
  display: flex;
  justify-content: center;
}

.App .Button.medium {
  font-size: 24px;
  border-width: 1px;
  border-radius: 6px;
  padding: 6px 16px;
}

.App .Button.large {
  font-size: 48px;
  border-width: 2px;
  border-radius: 8px;
  padding: 8px 16px;
}

.App .Button:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.16);
  border-color: #ffffff;
}
