* {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  line-height: 155%;

  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
